html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #B84551;
  font-size: 1.6rem;
  margin: 0;
}

.animation-wrapper {
  display: flex;
  gap: 15px;
  position: relative;
  left: 50%;
  top: 50%;
  width: fit-content;
  height: fit-content;
  transform: translate(-50%,-50%);
}

.circle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: turquoise;
  animation: move-the-circle 1s infinite;
  transform-origin: center center;
}

@keyframes move-the-circle {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

// @for $num from 1 through 8 {
//   .circle:nth-child(#{$num}) {
    
//   }
// }
